@import "../../../app-common/styles/media";

.select-filter {
  display: flex;
  height: 30px;
  padding: 20px;
  .switch-button {
    .switch-btn {
      width: 150px;
      height: 30px;
      margin-top: -2px;
      border: none;
      background: rgb(4, 170, 109);
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      transition: all 1s;
      @include respond-to-tablet() {
        width: 130px;
        font-size: 12px;
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 11px 2px #3b6a1c;
      }
    }
  }
  .filter-dropdown {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .filter-price {
      margin-right: 31px;
      width: 200px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      background: rgb(4, 170, 109);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.5s;
      @include respond-to-tablet() {
        width: 150px;
        font-size: 12px;
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 11px 2px #6e7f85;
      }
    }
  }
}

.ecom-page {
  width: 100%;
  height: 85%;
  overflow-y: auto;

  .product-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include respond-to-tablet() {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .product-details {
      width: 47vw;
      height: 240px;
      // margin: 15px;
      border-radius: 10px;
      border: 2px solid #29198e;
      background: #ffcbcb;
      box-shadow: 2px 2px 10px 2px #8657e0;
      @include respond-to-tablet() {
        width: 98%;
      }
      .product-name {
        height: 19px;
        padding: 70px 18px 50px 0;
        border-bottom: 2px dashed #5f5050;
        font-size: 28px;
        color: #013335;
        font-weight: 400;
      }
      .product-price {
        font-size: 18px;
        padding: 5px;
        font-weight: 600;
        color: #054205;
      }
      .product-discount {
        color: #40040d;
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  .product-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    @include respond-to-tablet() {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .product-list-details {
      width: 44vw;
      border: 2px solid #06a256;
      border-radius: 10px;
      height: 50px;
      display: flex;
      margin: 16px;
      background: #d4c1c1;
      box-shadow: -1px 3px 15px 5px #1de043;
      @include respond-to-tablet() {
        width: 95%;
      }
      .product-list-name {
        background: #9cdeb3;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        color: #461616;
        font-weight: 600;
        border-right: 2px dashed #c7adad;
      }
      .product-list-price {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        color: #031303;
        background: #cad0cc;
      }
      .product-list-discount {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        background: #b7d6c7;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 150px;
  font-size: 32px;
  font-weight: 800;
  color: hsl(166deg 90% 18%);
}
