.display-header {
  color: rgb(3, 10, 49);
}
.display-value {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ef0a0a;
  font-size: 32px;
  font-weight: 600;
}
