<h1>Only first call is from network, others are from Behavior Subject</h1>
<div class="main" @pageLoadAnimation>
  <!-- <ng-container *ngFor="let comp of components">
        <div class="repeat-components">
            <ss-app-inner>{{comp}}</ss-app-inner>
        </div>
    </ng-container> -->
  <ss-app-inner>Component 1</ss-app-inner>
  <ss-app-inner>Component 2</ss-app-inner>
  <ss-app-inner>Component 3</ss-app-inner>
  <ss-app-inner>Component 4</ss-app-inner>
  <ss-app-inner>Component 5</ss-app-inner>
</div>
