.timelog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 96px;
  overflow: auto;
  padding: 20px;
  width: 70%;
  border: 2px solid #607a84;
  margin: 12px 48px;
  color: #031d33;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  .time-stamp {
    margin-top: 10px;
    height: 25px;
  }
}
